@model int
<div class="form-group">
    <label>First name</label>
    @Html.Editor("Authors[" + Model + "].FirstName")

    <label>Last name</label>
    @Html.Editor("Authors[" + Model + "].LastName")

    <div id="authors-set">
        @Ajax.ActionLink("Add extra author", "AddAuthor", new { number = Model + 1 }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "authors-set" })
    </div>
</div>