@using LibraryApp.Models;
@model List<BookModel>
    @{ 
        Layout = null;
    }

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Number of pages</th>
            <th>Name of publisher</th>
            <th>Year of publications</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (BookModel book in Model)
    {
        @Html.Partial("TableRow", book)
    }
</table>